<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body style="box-sizing: border-box;">
    <h1 style="text-align: center;">Welcome!</h1>
    <div class="flex" style="display: flex; justify-content: space-evenly; height: 1000px; width: auto;">
        <div style="background-color: #9fc5f8; height: 200px; width: 200px; border: 5px solid black;"></div>
        <div style="background-color: #9fc5f8; height: 200px; width: 200px; border: 5px solid black;"></div>
        <div style="background-color: #9fc5f8; height: 200px; width: 200px; border: 5px solid black;"></div>
        <!-- <div style="background-color: #9fc5f8;"></div>
        <div style="background-color: #9fc5f8;"></div> -->
    </div>
</body>
</html>